<div class="masthead ui inverted vertical segment">
    <div class="ui grid" style="background: rgba(10,10,10,0.6);">
      <div class="two wide column" style="margin-left: 30px;">
         <div class="row">
           <%= image_tag("circle.png", class: "ui tiny circular image") %>
         </div>
      </div>
      <div class="three wide column" style="margin-top: 15px;">
        <h5>Creating networking opportunity for Fiji Directory in your hands</h5>
      </div>
      <div class="right floated one wide column" style="margin-top: 16px; margin-left: 400px;">
          <div class="ui fluid category search">
            <div class="ui icon input">
              <input class="prompt" placeholder="Search ..." type="text">
               <i class="search icon"></i>
            </div>
           <div class="results"></div>
         </div>

      </div>
      <div class="right floated three wide column">
        <div class="ui inverted segment">
           <button class="ui inverted button">Sign Up</button>
           <button class="ui inverted teal button">Login</button>
        </div>
      </div>
      <div class="middle aligned row">
        <div class="ui inverted segment fluid pointing menu very relaxed grid">
            <a class="item three wide column">
                  Home
            </a>
            <a class="item three wide column">
                  Residential
           </a>
           <a class="item three wide column">
                  Professional
           </a>
           <a class="item three wide column">
                  Business
           </a>
           <a class="item two wide column">
                  About
           </a>
           <a class="item two wide column">
                  Contact Us
           </a>
       </div>
      </div>


  </div>
</div>
